<a href="https://colab.research.google.com/github/QiyuLiu21/L04/blob/master/SQLbasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

In [4]:
try:
  conn = sqlite3.connect('/content/drive/MyDrive/Colab Notebooks/Database/database.db')
  cursor = conn.cursor()
  print("Database Connection and creation is successfully created")
  cursor.close()

except sqlite3.Error as error:
  print("Error in creating Database")
finally:
  if(conn):
    conn.close()
    print("Sqlite connection is closed")

Database Connection and creation is successfully created
Sqlite connection is closed

In [5]:
try:
  conn = sqlite3.connect('/content/drive/MyDrive/Colab Notebooks/Database/database.db')
  createtable = ''' CREATE TABLE Dept(deptid INTEGER PRIMARY KEY AUTOINCREMENT,
  deptname TEXT(20) NOT NULL, deptstr INTEGER, Deptprograms TEXT(20));'''
  cursor=conn.cursor()
  cursor.execute(createtable)
  conn.commit()
  print("Database table are created successfully")
  cursor.close()

except sqlite3.Error as error:
  print("Error in creating Database",error)
finally:
  if(conn):
    conn.close()
    print("Sqlite connection is closed")

Database table are created successfully
Sqlite connection is closed

In [8]:
conn=sqlite3.connect('/content/drive/MyDrive/Colab Notebooks/Database/database.db')
query="INSERT into STD(name,age,dept)values('bob,20,'CS);"
try:
  cursor=conn.cursor()
  cursor.execute(query)
  conn.commit()
  print("Our record is inserted into database")
except:
  print("Error in database insert record")
  conn.rollback()
conn.close()

Error in database insert record