<a href="https://colab.research.google.com/github/QiyuLiu21/L04/blob/master/911EmergencyCalls.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('/content/drive/MyDrive/911.csv')

In [5]:
data.describe()

                lat           lng           zip        e
count  99492.000000  99492.000000  86637.000000  99492.0
mean      40.159526    -75.317464  19237.658298      1.0
std        0.094446      0.174826    345.344914      0.0
min       30.333596    -95.595595  17752.000000      1.0
25%       40.100423    -75.392104  19038.000000      1.0
50%       40.145223    -75.304667  19401.000000      1.0
75%       40.229008    -75.212513  19446.000000      1.0
max       41.167156    -74.995041  77316.000000      1.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   lat        99492 non-null  float64
 1   lng        99492 non-null  float64
 2   desc       99492 non-null  object
 3   zip        86637 non-null  float64
 4   title      99492 non-null  object
 5   timeStamp  99492 non-null  object
 6   twp        99449 non-null  object
 7   addr       98973 non-null  object
 8   e          99492 non-null  int64
dtypes: float64(3), int64(1), object(5)
memory usage: 6.8+ MB

In [8]:
data.head(-10)

             lat        lng  ...                           addr  e
0      40.297876 -75.581294  ...         REINDEER CT & DEAD END  1
1      40.258061 -75.264680  ...     BRIAR PATH & WHITEMARSH LN  1
2      40.121182 -75.351975  ...                       HAWS AVE  1
3      40.116153 -75.343513  ...             AIRY ST & SWEDE ST  1
4      40.251492 -75.603350  ...       CHERRYWOOD CT & DEAD END  1
...          ...        ...  ...                            ... ..
99477  40.095652 -75.244877  ...       FOX HOUND DR & MARBLE HL  1
99478  40.100344 -75.293955  ...     CHEMICAL RD & GALLAGHER RD  1
99479  40.221227 -75.288737  ...  SUMNEYTOWN PIKE & RR OVERPASS  1
99480  40.221227 -75.288737  ...  SUMNEYTOWN PIKE & RR OVERPASS  1
99481  40.221227 -75.288737  ...  SUMNEYTOWN PIKE & RR OVERPASS  1

[99482 rows x 9 columns]

# How many calls in at the same time?

In [9]:
data['timeStamp'].value_counts().head()

2015-12-10 17:40:01    8
2015-12-23 14:12:01    7
2016-04-21 17:57:01    7
2016-07-31 12:42:01    6
2016-03-09 16:57:01    6
Name: timeStamp, dtype: int64

# Which town is it when enters a zip code?

In [18]:
data['zip'].value_counts().head()

19401.0    6979
19464.0    6643
19403.0    4854
19446.0    4748
19406.0    3174
Name: zip, dtype: int64

In [23]:
data['zip']['twp']

KeyError: ignored