<a href="https://colab.research.google.com/github/QiyuLiu21/L04/blob/master/Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('/content/drive/MyDrive/Salaries.csv')

In [9]:
data.describe

<bound method NDFrame.describe of             Id       EmployeeName  ...         Agency  Status
0            1     NATHANIEL FORD  ...  San Francisco     NaN
1            2       GARY JIMENEZ  ...  San Francisco     NaN
2            3     ALBERT PARDINI  ...  San Francisco     NaN
3            4  CHRISTOPHER CHONG  ...  San Francisco     NaN
4            5    PATRICK GARDNER  ...  San Francisco     NaN
...        ...                ...  ...            ...     ...
148649  148650      Roy I Tillery  ...  San Francisco     NaN
148650  148651       Not provided  ...  San Francisco     NaN
148651  148652       Not provided  ...  San Francisco     NaN
148652  148653       Not provided  ...  San Francisco     NaN
148653  148654          Joe Lopez  ...  San Francisco     NaN

[148654 rows x 13 columns]>

In [10]:
data.head(10)

   Id        EmployeeName  ...         Agency  Status
0   1      NATHANIEL FORD  ...  San Francisco     NaN
1   2        GARY JIMENEZ  ...  San Francisco     NaN
2   3      ALBERT PARDINI  ...  San Francisco     NaN
3   4   CHRISTOPHER CHONG  ...  San Francisco     NaN
4   5     PATRICK GARDNER  ...  San Francisco     NaN
5   6      DAVID SULLIVAN  ...  San Francisco     NaN
6   7           ALSON LEE  ...  San Francisco     NaN
7   8       DAVID KUSHNER  ...  San Francisco     NaN
8   9      MICHAEL MORRIS  ...  San Francisco     NaN
9  10  JOANNE HAYES-WHITE  ...  San Francisco     NaN

[10 rows x 13 columns]