<a href="https://colab.research.google.com/github/QiyuLiu21/L04/blob/master/SQLpractise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import sqlite3

In [21]:
def sql_connection():
  try:
    conn = sqlite3.connect('/content/drive/MyDrive/Colab Notebooks/Database/customers.db')
    print("Connection done...Database is create")
  except:
    print("Error in creating Database")
  finally:
    if(conn):
      conn.close()
      print("Sqlite connection is closed")

  sql_connection()

In [19]:
def sql_connection():
  try:
    conn = sqlite3.connect('/content/drive/MyDrive/Colab Notebooks/Database/customers.db')
    return conn
  except:
    print("Error connecting to Database")

def sql_table(conn):
  cursor_obj = conn.cursor()
  cursor_obj.execute("CREATE TABLE employees(id integer PRIMARY KEY, name text, salary real, department text, position text, hireData text)")
  conn.commit()

conn = sql_connection()
sql_table(conn)

OperationalError: ignored