<a href="https://colab.research.google.com/github/QiyuLiu21/L04/blob/master/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [8]:
list = [1,2,3,4,5]

## 2.	Print out those variables by using a for loop

In [1]:
list = [1,2,3,4,5]
for i in list:
  print(i)

1
2
3
4
5

## 3.	Modify your for loop to add a message to your for loop.

In [3]:
list = [1,2,3,4,5]
for i in list:
  print("The day " + str(i) + " of school is wonderful.")

The day 1 of school is wonderful.
The day 2 of school is wonderful.
The day 3 of school is wonderful.
The day 4 of school is wonderful.
The day 5 of school is wonderful.

## 4.	Use a for loop to print even numbers from 1-20.

In [5]:
for i in range(1,21):
  if i%2 ==0:
    print(str(i) + " is a even number.")

2 is a even number.
4 is a even number.
6 is a even number.
8 is a even number.
10 is a even number.
12 is a even number.
14 is a even number.
16 is a even number.
18 is a even number.
20 is a even number.

## 5.	Sort your list in alphabetic order.

In [11]:
print(sorted(list))

[1, 2, 3, 4, 5]

## 6.	Print out the first three elements of your list.

In [13]:
print(list[0:3])

[1, 2, 3]

## 7.	Create a loop to print the last 2 elements of your list.

In [15]:
for i in list[-2:]:
  print(i)

4
5